<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .add-button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Twoje wplaty</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Ilosc</th>
        <th>Data</th>
        <th>Actions</th>
    </tr>
    <tr th:each="wplata : ${wplata}">
        <td th:text="${wplata.id}">1</td>
        <td th:text="${wplata.volume}">1</td>
        <td th:text="${wplata.paymentDay}">1</td>
        <td>
            <a href="#" th:href="@{'/wplata/'+${wplata.id}+'/edit'}" role="button" class="btn btn-primary">Edit</a>
            <a href="#" th:href="@{'/wplata/'+${wplata.id}+'/show'}" role="button" class="btn btn-primary">Show</a>

        </td>
    </tr>
</table>

<div class="add-button">
    <a href="#" th:href="@{'/wplata/new'}" role="button" class="btn btn-success" style="margin-right: 5px">Dodaj wpłate</a>
</div>

</body>
</html>